.weapper {
    width: 1170px;
    max-width: 100%;
    overflow: hidden;
   }

   .Header {
    position: fixed;
    display: flex;
    z-index: 999;
    top: 0; left: 0;
    width: 100%; height: 60px;
    background-color: orange;
    color: white;
    box-sizing:content-box;
   }
 
   .Header .title{
    display: inline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
   }
 
  #mi ul {
    list-style: none;
   }
 
   #mi li {
    display:inline-flex;
    margin-left: 8px;
    text-decoration: none;
    border:1px solid rgb(136, 98, 28);
    border-radius: 8px;
    box-shadow:0 0 10px rgb(136, 98, 28);
    padding: 5px;
    background-color: orange;
    color: white;
    text-align: center;
   }

   .main { /* 全体の設定 */
    display: grid;
    grid-template-columns: repeat(5, minmax(300px, 1fr));
    background-color: orange;
    color: black;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    margin: 10px;
   }

   .main_list { /* 全体の設定 */
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: minmax(50px, auto);
    background-color: orange;
    color: black;
    justify-content: center;
    align-items: center;
    gap: 10px;
   }

   .delete-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    border: none;
    cursor: pointer;
  }

  .delete-button_t {
    position:inherit;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 0 5px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
  }

    .link-preview {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    word-wrap: break-word;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .link-preview_list {
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 20px;
      margin: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .main_list a {
      text-decoration: none;
    }

    .main_list ul,li {
      list-style: none;
    }

    .main_list_all ul {
      list-style: none;
     }
   
    .main_list_all li {
      display:inline-flex;
      margin-left: 8px;
      text-decoration: none;
      border:1px solid orange;
      border-radius: 8px;
      box-shadow:0 0 10px orangered;
      padding: 5px;
      background-color: orange;
      color: white;
      text-align: center;
     }

    .main_list .delete-button {
      top: 0;
      right: 0;
      background-color: red;
      color: white;
      font-size: 20px;
      font-weight: bold;
      padding: 0 10px;
      border: none;
      cursor: pointer;
    }
    
    img.icon {
    min-width: 250px;
    max-width: 250px;
    max-height: 150px;
    overflow-clip-margin: content-box;
    overflow: clip;
    object-fit: cover;
    }
    
    .text-container {
    flex-grow: 1;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    border-top: none;
    border-left: none;
    max-width: 300px;
    max-height:500px;
    padding: 10px;
    }

    #forms {
      display: grid;
      grid-template-columns: repeat(3, minmax(100px, 10%));
      grid-auto-rows: 100px;
      background-color: orange;
      color: black;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border: 1px solid orange;
      margin: auto;
    }

    #urlForm {
      width: 100%;
      display: inline-flex;
      border-radius: 8px;
    }

    #tagForm {
      width: 100%;
      display: inline-flex;
      border-radius: 8px;
    }

    #tags {
      display: inline-flex;
      border-radius: 8px;
      border: 1px solid rgb(136, 98, 28);
      box-shadow: 0 0 10px rgb(136, 98, 28);
      background-color: orange;
      padding: 5px;
      margin-right: 10px;
    }

    .main_list #tags {
      display: inline-flex;
      border-radius: 8px;
      border: 1px solid rgb(136, 98, 28);
      box-shadow: 0 0 10px rgb(136, 98, 28);
      background-color: white;
      padding: 5px;
      margin-right: 10px;
    }

    button {
      border-radius: 8px;
      border: 1px solid rgb(136, 98, 28);
      box-shadow: 0 0 10px rgb(136, 98, 28);
      background-color: white;
      padding: 5px;
    }

    /* ここからPCとタブレットの設定 */
    @media screen and (min-width:481px) and (max-width:846px) and (min-height:800px) {
      .main { /* 全体の設定 */
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        background-color: orange;
        color: black;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        padding: 10px;
       }
    }
  
    /* ここからスマートフォンの設定 */
   
    @media screen and (max-width:480px) {
      .main { /* 全体の設定 */
        display: grid;
        grid-template-columns: repeat(1, minmax(300px, 1fr));
        background-color: orange;
        color: black;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        padding: 10px;
       }

      img.icon {
        min-width: 250px;
        max-width: 300px;
        max-height: 150px;
        overflow-clip-margin: content-box;
        overflow: clip;
        object-fit: cover;
        }
    }
    